
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Environment variables
.env

# Reports Allure
allure-report/
allure-results/

# vscode configs
.vscode
